<!DOCTYPE html>

<html ng-app="myApp" lang="ja">
　
<head>
    　　　<!-- 見た目用にBootstrapを使う -->
    　　　
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    　　　<!-- AngularJS 1.7.8を公式サイトから引っ張ってくる -->
    　　　
    <script src="../../static/js/common/angular.js"></script>
    　　　<!-- ↓↓↓自分で作ったJavaScriptはここから↓↓↓ -->
    　　　
    <script src="../../static/js/app.js"></script>
    <title></title>
</head>

<body class="container">

<div ng-controller="AppController">
    <h1>添加数据</h1>
    <form method="post" action="/demo/dataAdd/" class="form-horizontal">
        <!-- {% csrf_token %} -->
        <div class="form-group">
            <label for="userid" class="col-sm-1 control-label">id</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="userId" placeholder="id" value="">
            </div>
        </div>

        <div class="form-group">
            <label for="uesrname" class="col-sm-1 control-label">名前</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="userName" placeholder="名前" ng-model="uesrname">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-1 control-label">passWord</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="passWord" placeholder="パスワード" ng-model="password">
            </div>
        </div>
        <div class="form-group">
            <label for="userage" class="col-sm-1 control-label">年齢</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="userAge" placeholder="年齢" ng-model="userage">
            </div>
        </div>
        <div class="form-group">
            <label for="usermail" class="col-sm-1 control-label">メール</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="userMail" placeholder="メール" ng-model="usermail">
            </div>
        </div>

        <button class="btn btn-primary">登録</button>
    </form>
</div>
<hr>


<div ng-controller="AppController">
    <h1>删除数据</h1>

    <form method="post" action="/demo/delete/" class="form-horizontal">
        <!-- {% csrf_token %} -->
        <div class="form-group">
            <label for="userid" class="col-sm-1 control-label">id</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="userId" placeholder="id" value="">
            </div>
            <button class="btn btn-primary">削除</button>
        </div>

    </form>
</div>
<hr>

<div>
    <h1>全部数据显示</h1>
    <table style="color: green" border="2">
        <tr>
            <td>id</td>
            <td>名前</td>
            <td>パスワード</td>
            <td>年齢</td>
            <td>メール</td>
        </tr>
                {% for UserInfoDemo in user_info %}
                    <tr>
                        <td>{{ UserInfoDemo.userId }}</td>
                        <td>{{ UserInfoDemo.userName }}</td>
                        <td>{{ UserInfoDemo.passWord }}</td>
                        <td>{{ UserInfoDemo.userAge }}</td>
                        <td>{{ UserInfoDemo.userMail }}</td>
                    </tr>
                {% endfor %}

{#        <tr>#}
{#            <td>{{ user_info.userId }}</td>#}
{#            <td>{{ user_info.userName }}</td>#}
{#            <td>{{ user_info.passWord }}</td>#}
{#            <td>{{ user_info.userAge }}</td>#}
{#            <td>{{ user_info.userMail }}</td>#}
{#        </tr>#}
    </table>
</div>
<hr>

</body>
</html>