<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>登陆界面</h1>

<form method="post" action="/demo/login/">

    <div>
        <label for="name">名前</label>
        <div>
            <input type="text" name="name" placeholder="名前" ng-model="name">
        </div>
    </div>

    <div>
        <label for="pwd">passWord</label>
        <div class="col-sm-10">
            <input type="text" name="pwd" placeholder="パスワード" ng-model="pwd">
        </div>
    </div>

    <button>ログイン</button>
</form>
</body>
</html>