<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>

<h1>注册</h1>
<form method="post" action="/demo/register/">
    <div>
        <label for="name">名前</label>
            <input type="text" class="form-control" name="name" placeholder="名前" ng-model="name">
    </div>

    <div>
        <label for="pwd">passWord</label>
            <input type="text" class="form-control" name="pwd" placeholder="パスワード" ng-model="pwd">
    </div>

    <div>
        <label for="pwd2">passWord</label>
            <input type="text" class="form-control" name="pwd2" placeholder="パスワード" ng-model="pwd2">
    </div>

    <button>登録</button>
</form>
</body>


</html>